@model Dimol.Judicial.Mantenedores.Models.RolModel
@using Mvc.HtmlHelpers
@using JQueryUIHelpers
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmAvanceDemandaRol" }))
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Rolid)
    <fieldset>
        <legend>AnvanceDemanda</legend>
        <div class="tabla" id="divTabla">
            <div class="fila">
                <div class="col" style="width:260px">@Html.LabelFor(model => model.NombreRutCliente)</div>
                <div class="col">
                    @Html.JQueryUI().AutocompleteFor(model => model.Pclid, Url.Action("BuscarRutNombreCliente"), "NombreRutCliente", null, new { @class = "textboxRutNombre", @readonly = "readonly" }).MinLength(3)
                    @Html.ValidationMessageFor(model => model.NombreRutCliente)
                </div>
              
            </div>
            <div class="fila">
                <div class="col" style="width:260px">@Html.LabelFor(model => model.NombreRutDeudor)</div>
                <div class="col">
                    @Html.JQueryUI().AutocompleteFor(model => model.Ctcid, Url.Action("BuscarRutNombreDeudor"), "NombreRutDeudor", null, new { @class = "textboxRutNombre", @readonly = "readonly" }).MinLength(3)
                    @Html.ValidationMessageFor(model => model.NombreRutDeudor)
                </div>
            </div>
            <div class="fila">
                <div class="col" style="width:260px">@Html.LabelFor(model => model.TipoRol)</div>
                <div class="col">@Html.DropDownList("TipoRol", null, new { @class = "ComboboxClassM", onchange = "" })</div>
            </div>
            <div class="fila">
                <div class="col" style="width:260px">@Html.LabelFor(model => model.Rol)</div>
                <div class="col" style="width:300px; height:23px">@Html.TextBox("Rol", null, new { @class = "textboxClass" })</div>

            </div>
            <div class="fila">
                <div class="col" style="width:260px">@Html.LabelFor(model => model.Tribunal)</div>
                <div class="col">
                    @Html.JQueryUI().AutocompleteFor(model => model.TribunalSelect, Url.Action("BuscarTribunal"), "Tribunal", null, new { @class = "textboxRutNombre" }).MinLength(3)
                    @Html.ValidationMessageFor(model => model.Tribunal)
                </div>

            </div>
           
            <div class="fila">
                <div class="col" style="width:260px">@Html.LabelFor(model => model.TipoCausa)</div>
                <div class="col">@Html.DropDownList("TipoCausa", null, new { @class = "textboxRutNombre", onchange = "" })</div>

            </div>
            <div class="fila">
                <div class="col" style="width:260px">@Html.LabelFor(model => model.MateriaJudicial)</div>
                <div class="col">@Html.DropDownList("MateriaJudicial", null, new { @class = "textboxRutNombre", onchange = "" })</div>

            </div>
            <div class="fila">
                <div class="col" style="width:260px">@Html.LabelFor(model => model.Estado)</div>
                <div class="col" style="width:300px; height:23px">@Html.TextBox("Estado", "INGRESA DEMANDA A TRIBUNAL", new { @class = "textboxClass", @readonly = "readonly" })</div>

            </div>
           
            <div class="fila">
                <div class="col" style="width:260px">@Html.Label("Quiebra")</div>
                <div class="col">@Html.DropDownList("ComboQuiebra", null, new { @class = "ComboboxClassS" })</div>
            </div>
            <div class="fila" style="display:none;">
                <div class="col" style="width:260px">@Html.LabelFor(model => model.FechaDemanda)</div>
                <div class="col">@Html.JQueryUI().Datepicker("FechaDemanda").ShowButtonPanel(true).ShowWeek(false)</div>
            </div>
            <br />

            <div class="col" style="float:right"><input type="button" value="Guardar" onclick="fnGuardarAvanceDemandaRol();" /></div>
        </div>
</fieldset>
}
