@model Dimol.Carteras.Models.EmailCoopeuchModel
@{
    ViewBag.Title = "Envío de Email para Coopeuch";
    
}
<br />
<h2>@ViewBag.Title</h2>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

@using Mvc.HtmlHelpers
<div class="ui-widget ui-widget-content ui-corner-all" style="outline: 0px none;">
   
    <div style="height: auto; min-height: 150px; width: auto; margin: 10px;border:none" class="ui-widget-content">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmEmailCoopeuch" }))
        {
            @Html.ValidationSummary(true)

            <fieldset>
                <legend>BuscarDeudor</legend>

                <div class="tabla">                                     

                    <div class="fila">
                        <div class="col" style="width:100px">@Html.LabelFor(model => model.NombreRutCliente)</div>
                        <div class="col">
                            @Html.JQueryUI().AutocompleteFor(model => model.PclidCoopeuch, Url.Action("BuscarRutNombreCliente"), "NombreRutCliente", null, new { @class = "textboxRutNombre", @readonly = "readonly" }).MinLength(3)
                            @Html.ValidationMessageFor(model => model.NombreRutCliente)
                        </div>
                    </div>

                    <div class="fila">
                        <div class="col" style="width:100px">@Html.LabelFor(model => model.NombreRutDeudor)</div>
                        <div class="col">
                            @Html.JQueryUI().AutocompleteFor(model => model.Ctcid, Url.Action("BuscarRutNombreDeudor"), "NombreRutDeudor", null, new { @class = "textboxRutNombre", @readonly = "readonly" }).MinLength(3)
                            @Html.ValidationMessageFor(model => model.NombreRutDeudor)
                        </div>
                    </div>

                    <div class="fila" id="mailsCoopeuch">
                        <div class="col" style="width:100px">Destinatario(s)</div>                      
                        
                    </div>

                    <div class="fila">
                        <div class="col" style="width:120px"> @Html.LabelFor(model => model.CuotaVencida)</div>
                        <div class="col" style="width:250px">
                            @Html.CheckBoxFor(model => model.CuotaVencida, new { })
                            @Html.ValidationMessageFor(model => model.Saldo)
                        </div>

                    </div> 

                    <div class="fila">

                        <div class="col" style="float:right">
                            @Html.Hidden("Codemp")
                            <input type="button" value="Generar" id="btnGenerar" onclick="fnEnviarEmailCoopeuch();" />

                        </div>
                    </div>

                </div>
            </fieldset>
        }

    </div>
</div>