@model Dimol.Carteras.Models.SubCarteraModel

@{
    ViewBag.Title = "Sub Cartera";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h2>@ViewBag.Title</h2>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
@using Mvc.HtmlHelpers
<div class="ui-widget ui-widget-content ui-corner-all" style="outline: 0px none;">
  <div class="ui-widget-header ui-corner-all">
    <span id="ui-dialog-title-dialog" class="ui-dialog-title">Datos Deudor</span>

   </div>
   <div style="height: auto; min-height: 300px; width: auto; margin: 10px;border:none" class="ui-widget-content">
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmSubCartera" }))
{
    @Html.ValidationSummary(true){}

    <fieldset>
        <legend>BuscarDeudor</legend>

        <div class="tabla">
            <div class="fila">
                <div class="col"  style="width:160px">@Html.LabelFor(model => model.Rut)</div>
                <div class="col"> @Html.TextBoxFor(model => model.Rut,null,new { @class= "textboxClassRut"})
                    @Html.ValidationMessageFor(model => model.Rut)
                </div>
            </div>
            <div class="fila">
                <div class="col" style="width:160px">@Html.LabelFor(model => model.Nombre)</div>
                <div class="col">@Html.TextBoxFor(model => model.Nombre,null,new { @class= "textboxClass"})@Html.ValidationMessageFor(model => model.Nombre)
                </div>
            </div>
            <div class="fila">
                <div class="col"  style="width:160px">@Html.LabelFor(model => model.Pais)</div>
                <div class="col"> @Html.DropDownList("Pais", null, "-- Seleccione País --", new { onchange="PaisSeleccionado(this, 'Region' )"})</div>
                </div>
            <div class="fila">
                <div class="col"  style="width:160px">@Html.LabelFor(model => model.Region)</div>
                <div class="col"> @Html.DropDownList("Region", null, new { @class= "ComboboxClassL",  onchange="RegionSeleccionada(this, 'Ciudad')"})</div>
                </div>
            <div class="fila">
                <div class="col"  style="width:160px">@Html.LabelFor(model => model.Ciudad)</div>
                <div class="col"> @Html.DropDownList("Ciudad", null, new { @class= "ComboboxClass",  onchange="CiudadSeleccionada(this, 'Comuna')"})</div>
            </div>
            <div class="fila">
                <div class="col"  style="width:160px">@Html.LabelFor(model => model.Comuna)</div>
                <div class="col"> @Html.DropDownList("Comuna", null, new { @class= "ComboboxClass"})@Html.ValidationMessageFor(model => model.Comuna)</div>
                </div>
            <div class="fila">
                <div class="col"  style="width:160px">@Html.LabelFor(model => model.Direccion)</div>
                <div class="col"> @Html.TextBox("Direccion", null, new { @class= "textboxClass"})@Html.ValidationMessageFor(model => model.Direccion)</div>
            </div>
            <div class="fila">
                <div class="col"  style="width:160px">@Html.LabelFor(model => model.Telefono)</div>
                <div class="col"> @Html.TextBoxFor(model => model.Telefono,null,new { @class= "textboxClassRut"})
                    @Html.ValidationMessageFor(model => model.Telefono)
                </div>
            </div>
            <div class="fila">@Html.HiddenFor(model=> model.Sbcid)
                <div class="col" style="float:right"><input type="button" value="Guardar" onclick="fnGrabarSubCartera();" /></div>
            </div>

        </div>

    </fieldset>
    <br />
}
          </div>
</div>
