@model Dimol.Caja.Models.RecepcionDocumentoModel
<script>
    $(document).ready(function () {
        //delay(function () {
        $("#NombreRutDeudor").autocomplete({
            minLength: 3,
            delay: 1000,
            source: function (request, response) {
                $.ajax({
                    url: "/Caja/BuscarRutNombreDeudor/",
                    dataType: "json",
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        
                        if (data.length > 0){
                            $('#CreaDeudor').hide();
                            $("#ppDocumento").dialog().dialog("option", "height", 300);
                        }
                        else {
                            $('#CreaDeudor').show();
                            $("#ppDocumento").dialog().dialog("option", "height", 600);
                            $('#RutDeudor').val(request.term);
                            $('#RutDeudor').focus();
                        }
                        
                        response(data);
                    }
                });
            },
            select: function (event, ui) {
                
                $("#Ctcid").val(ui.item.value);
                $("#NombreRutDeudor").val(ui.item.label);
                return false;
            },
            focus: function (event, ui) {
                $("#NombreRutDeudor").val(ui.item.label);
                return false;
            },
        })
        //}, 1000);
    });
</script>

@*@using Mvc.HtmlHelpers*@

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmRecepcionDocumento" }))
{
    @Html.ValidationSummary(true)
    @Html.Hidden("DocumentoId")
    @Html.Hidden("PclidHidden")
    <div class="tabla">
        <div class="fila">
            <div class="col" style="float:right">
                <div class="tabla">
                    <div class="fila">
                        <div class="col" style="width: 120px">@Html.LabelFor(model => model.FechaIngreso)</div>
                        <div class="col">
                            @Html.JQueryUI().Datepicker("FechaIngreso", DateTime.Today, new { @style = "z-index:9" }).ShowButtonPanel(true).ShowWeek(false).Disabled(true)
                            @Html.ValidationMessageFor(model => model.FechaIngreso)
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div class="fila">
            <div class="col" style="width:140px">@Html.LabelFor(model => model.NombreRutCliente)</div>
            <div class="col">
                @Html.JQueryUI().AutocompleteFor(model => model.Pclid, Url.Action("BuscarRutNombreCliente"), "NombreRutCliente", null, new { @class = "textboxRutNombre" }).MinLength(3)
               
            </div>
        </div>
        <div class="fila">
            <div class="col" style="width:140px">@Html.LabelFor(model => model.NombreRutDeudor)</div>
            <div class="col">
                @Html.TextBox("NombreRutDeudor", null, new { @class = "textboxRutNombre", maxlength = 9 })
                @Html.Hidden("Ctcid")
                @Html.ValidationMessageFor(model => model.NombreRutDeudor)
            </div>
        </div>
        <div class="fila" id="CreaDeudor" style="display:none">
            <div class="col" style="padding-left:20px">

                <div class=" panel panel-primary">
                    <div class="panel-heading">Ingresar Deudor</div>
                    <div class="panel-body">
                        <div class="tabla">
                            <div class="fila">
                                <div class="col" style="width:140px">@Html.Label("Tipo", new { id = "TipoDeudor", style = "margin-left:5px;" })</div>
                                <div class="col">
                                    <label>
                                        <input name="TipoOpt" type="radio" value="P" id="chkParticular" checked="checked" style="display:inline-block; width:14px;height:14px;margin:-1px 4px 0 0">Particular
                                    </label>
                                    <label>
                                        <input name="TipoOpt" type="radio" value="E" id="chkEmpresa" style="display:inline-block; width:14px;height:14px;margin:-1px 4px 0 0">Empresa
                                    </label>

                                </div>
                            </div>
                            <div class="fila">
                                <div class="col" style="width:140px">@Html.Label("Rut", new { id = "lblRutDeudor", style = "margin-left:5px;" })</div>
                                <div class="col">
                                    @Html.TextBox("RutDeudor", null, new { maxlength = 9, autocomplete = "off", onkeypress = "return soloRUT(event)",
                                                                           onblur = "checkRutGenerico(RutDeudor.value)",
                                                                           onfocus = "limpiaPuntoGuion()",
                                                                           onpaste = "return false",
                                                                           ondrag = "return false", ondrop="return false",
                                                                           oncopy = "return false",
                                                                           oncut = "return false"
                               })
                                    @Html.Label(" ", new { id = "ValidaRut"})
                                </div>
                            </div>
                            <div class="fila">
                                <div class="col" style="width:140px">@Html.Label("Nombre", new { id = "lblNombre", style = "margin-left:5px;" })</div>
                                <div class="col">
                                    @Html.TextBox("NombreDeudor", null, new { @class = "textboxClass" })
                                  
                                </div>
                            </div>
                            <div class="fila">
                                <div class="col" style="width:140px">@Html.Label("Apellidos", new { id = "lblApellidosDeudor", style = "margin-left:5px;" })</div>
                                <div class="col">
                                    @Html.TextBox("ApellidoPaterno", null, new { @class = "textboxClassM" })
                                    
                                </div>
                                <div class="col">
                                    @Html.TextBox("ApellidoMaterno", null, new { @class = "textboxClassM" })
                                </div>
                            </div>
                            <div class="fila">
                                <div class="col" style="width:140px">@Html.Label("NombreFantasia", new { id = "lblNombreFantasia", style = "margin-left:5px;" })</div>
                                <div class="col">
                                    @Html.TextBox("NombreFantasia", null, new { @class = "textboxClass" })
                                   
                                </div>
                            </div>
                            <div class="fila">
                                <div class="col" style="width:140px">@Html.Label("Pais", new { id = "lblIdPais", style = "margin-left:5px;" })</div>
                                <div class="col"> @Html.DropDownList("IdPais", null, "-- Seleccione País --", new { onchange = "PaisSeleccionado(this,'IdRegion')" })</div>
                            </div>
                            <div class="fila">
                                <div class="col" style="width:140px">@Html.Label("Region", new { id = "lblIdRegion", style = "margin-left:5px;" })</div>
                                <div class="col"> @Html.DropDownList("IdRegion", null, new { @class = "ComboboxClassL", onchange = "RegionSeleccionada(this,'IdCiudad')" })</div>
                            </div>
                            <div class="fila">
                                <div class="col" style="width:140px">@Html.Label("Ciudad", new { id = "lblIdCiudad", style = "margin-left:5px;" })</div>
                                <div class="col"> @Html.DropDownList("IdCiudad", null, new { @class = "ComboboxClass", onchange = "CiudadSeleccionada(this,'IdComuna')" })</div>
                            </div>
                            <div class="fila">
                                <div class="col" style="width:140px">@Html.Label("Comuna", new { id = "lblIdComuna", style = "margin-left:5px;" })</div>
                                <div class="col">@Html.DropDownList("IdComuna", null, new { @class = "ComboboxClass" })</div>
                            </div>
                            <div class="fila">
                                <div class="col" style="width:140px">@Html.Label("Direccion", new { id = "lblDireccion", style = "margin-left:5px;" })</div>
                                <div class="col">
                                    @Html.TextBox("Direccion", null, new { @class = "textboxClass" })
                                
                                </div>

                            </div>
                            <div class="fila">
                                <div class="col" style="float:right">
                                    <input type="button" value="Aceptar" id="btnAceptarDeudor" disabled="disabled" onclick="fnIngresarDeudorDocumento();" />

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                
            </div>
        </div>
        <div class="fila">
            <div class="col" style="width:140px">@Html.LabelFor(model => model.NombreRutAsegurado)</div>
            <div class="col">
                @Html.JQueryUI().AutocompleteFor(model => model.Sbcid, Url.Action("BuscarRutNombreAsegurado"), "NombreRutAsegurado", null, new { @class = "textboxRutNombre" }).MinLength(3)
            </div>
        </div>
        <div class="fila">
            <div class="col" style="width:140px">@Html.LabelFor(model => model.NumeroDocumento)</div>
            <div class="col">
                @Html.EditorFor(model => model.NumeroDocumento)
                @Html.ValidationMessageFor(model => model.NumeroDocumento)
            </div>
        </div>
        <div class="fila">
            <div class="col" style="width:140px">@Html.LabelFor(model => model.Moneda)</div>
            <div class="col">
                @Html.DropDownList("Moneda", null, new { })
            @Html.ValidationMessageFor(model => model.Moneda)
            </div>
       
        </div>
        <div class="fila">
            <div class="col" style="width:140px">@Html.LabelFor(model => model.MontoIngreso)</div>
            <div class="col">
                @Html.TextBox("MontoIngreso", null, new { @class = "textboxClass", @style = "width: 80px" })
              
            </div>
        </div>
       
        <div class="fila">
            <div class="col" style="float:right">
                <input type="button" value="Guardar" id="btnGuardar" onclick="fnGuardarDocumentoCajaRecepcion();" />

            </div>
        </div>
    </div>

}
@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@