@model Dimol.Reportes.Models.EmailCochaModel
@{
    ViewBag.Title = "Reportes Cartera";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h2>@ViewBag.Title</h2>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript">
    window.onload = function () {
        fnCochaOnCreate();
    };
</script>
@using Mvc.HtmlHelpers
<div class="ui-widget ui-widget-content ui-corner-all" style="outline: 0px none;">
    <div class="ui-widget-header ui-corner-all">
        <span id="ui-dialog-title-dialog" class="ui-dialog-title">  >></span>

    </div>
    <div style="height: auto; min-height: 150px; width: auto; margin: 10px;border:none" class="ui-widget-content">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmEmailMutual" }))
        {
            @Html.ValidationSummary(true)

            <fieldset>
                <legend>BuscarDeudor</legend>

                <div class="tabla">

                    <div class="fila">
                        <div class="col" style="width:100px">@Html.LabelFor(model => model.NombreRutCliente)</div>
                        <div class="col">
                            @Html.JQueryUI().AutocompleteFor(model => model.Pclid, Url.Action("BuscarRutNombreCliente"), "NombreRutCliente", null, new { @class = "textboxRutNombre", @readonly = "readonly" }).MinLength(3)
                            @Html.ValidationMessageFor(model => model.NombreRutCliente)
                        </div>
                    </div>

                    <div class="fila">
                        <div class="col" style="width:100px">@Html.LabelFor(model => model.NombreRutDeudor)</div>
                        <div class="col">
                            @Html.JQueryUI().AutocompleteFor(model => model.Ctcid, Url.Action("BuscarRutNombreDeudor"), "NombreRutDeudor", null, new { @class = "textboxRutNombre", @readonly = "readonly" }).MinLength(3)
                            @Html.ValidationMessageFor(model => model.NombreRutDeudor)
                        </div>
                    </div>

                    <div class="fila" id="mailsMutual">
                        <div class="col" style="width:100px">Destinatario(s)</div>
                        <!--<div class="col" style="width:100px;padding-bottom:20px">@Html.LabelFor(model => model.Email)</div>-->
                        <div class="col">
                            <!--@Html.TextBoxFor(model => model.Email, new { @class = "textboxRutNombre", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.Email)

                            @(Html.jqGrid("gridEmailMutual")
                                        .addColumn(new Column("ddcid").setLabel("")
                                            .setHidden(true)
                                            .setEditable(false)
                                            .setWidth(60))
                                        .addColumn(new Column("Mail").setLabel("eMail")
                                            .setEditable(false)
                                            .setSortable(true)
                                            .setWidth(100))

                                        // settings
                                        .setCaption("Emails").setWidth(150).setMultiSelect(true)
                                        .setRequestType(RequestType.get)
                                        .setUrl("~/Cartera/GetDummy")
                                        .setAltRows(true)
                                        .setAltClass("altGridRows")
                                        .setAutoWidth(false)
                                        .setRowNum(10)
                                        .setRowList(new int[] { 10, 30, 50 })
                                        .setViewRecords(true)
                                        .setSortName("Mail")
                                        .setSortOrder(SortOrder.asc)
                                        .setPager("pagerEmails")
                                        .setPagerPos(PagerPos.center)
                                        .setPgButtons(true)
                                        //.setCellEdit(false)
                                        //.setCellSubmit(CellSubmit.clientArray)
                                        //.setNavEdit(ViewBag.Edit)
                                        .Render()

                            )-->
                        </div>
                        <div class="col"><div class="mails-lbl">marceloguzman@gmail.com<span onclick="$(this).parent().remove()" style="cursor:pointer">&nbsp;&times;</span></div></div>
                        <!--<div class="col"><div class="mails-lbl">shernandez@pth.cl<span onclick="$(this).parent().remove()" style="cursor:pointer">&nbsp;&times;</span></div></div>
                        <div class="col"><div class="mails-lbl">shernandez@pth.cl<span onclick="$(this).parent().remove()" style="cursor:pointer">&nbsp;&times;</span></div></div>-->
                    </div>

                    <div class="fila">
                        <div class="col" style="width:120px"> @Html.LabelFor(model => model.Saldo)</div>
                        <div class="col" style="width:250px">
                            @Html.TextBoxFor(model => model.Saldo, null, new { @disabled = "disabled" })
                            @Html.ValidationMessageFor(model => model.Saldo)
                        </div>

                    </div>

                    <div class="fila">

                        <div class="col" style="float:right">
                            @Html.Hidden("Codemp")
                            <input type="button" value="Generar" id="btnGenerar" onclick="fnEnviarEmailMutual();" />

                        </div>
                    </div>

                </div>
            </fieldset>
        }

    </div>
   <div class="tabla">
        <div class="fila">

            
            <div class="col" style="width:85%;margin-left:20px">
                @(Html.jqGrid("gridDeudorCpbtMutual")

    .addColumn(new Column("Pclid").setLabel("Id Cliente")
        .setHidden(true)
        .setWidth(50))
    .addColumn(new Column("Ctcid").setLabel("Ctcid")
        .setHidden(true)
        .setWidth(50))
    .addColumn(new Column("Ccbid").setLabel("Ccbid")
        .setHidden(true)
        .setWidth(50))
    .addColumn(new Column("TipoDocumento").setLabel("Tipo")
        .setSortable(true)
        .setWidth(100))
    .addColumn(new Column("Numero").setLabel("Número").setAlign(Align.center)
        .setSortable(true)
        .setWidth(70))
    .addColumn(new Column("FechaVencimiento").setLabel("Fec. Ven.").setAlign(Align.right).setFormatter(Formatters.date).setDateFmt("d-m-Y")
        .setSortable(true)
        .setWidth(70))
    .addColumn(new Column("Saldo").setLabel("Saldo").setAlign(Align.right).setFormatter(Formatters.number)
        .setSortable(true)
        .setWidth(70))
    .addColumn(new Column("EstadoCpbt").setLabel("Estado")
        .setSortable(true)
        .setWidth(70))
    .addColumn(new Column("Negocio").setLabel("Negocio")
        .setSortable(true)
        .setWidth(70))

    // settings
    .setCaption("Documentos Deudor").setMultiSelect(true)
    .setRequestType(RequestType.get)
    .setUrl("~/Cartera/GetDeudoresMailMutualCpbt/?Pclid=22&Ctcid=10071")
    .setAltRows(true)
    .setAltClass("altGridRows")
    .setAutoWidth(true)
    .setRowNum(500)
    .setRowList(new int[] { 10, 30, 50, 500 })
    .setViewRecords(true)
    .setSortName("NombreFantasia")
    .setSortOrder(SortOrder.asc)
    .setPager("pagerDeudorCpbtMutual")
    .setPagerPos(PagerPos.center)
    .setPgButtons(true)
    //.setNavAdd(ViewBag.Add)
    //.setCellEdit(true)
    .onSelectRow("UpdateSaldoMutual(rowid, status)")
    .onSelectAll("fnOnSelectAllMutual(aRowids, status)")
    .onLoadComplete("fnOnLoadComplete(this);")
    .Render()

                )

                

            </div>
        </div>
    </div>
    <br />
</div>
       
