@model Dimol.ProveedorCliente.Mantenedores.Models.ProveedorClienteModel

@{
    ViewBag.Title = "Buscar ProveedorCliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<h2>Buscar ProveedorCliente</h2>
<br />

@using Mvc.HtmlHelpers
<div class="ui-widget ui-widget-content ui-corner-all" style="outline: 0px none;">
    <div class="ui-widget-header ui-corner-all">
        <span id="ui-dialog-title-dialog" class="ui-dialog-title">Datos Proveedor</span>
    </div>
    <div style="height: auto; min-height: 300px; width: auto; margin: 10px;border:none" class="ui-widget-content">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmBuscarProveedorCliente" }))
        {
            @Html.ValidationSummary(true)
            <fieldset>
                <legend>BuscarInsumos</legend>

                <div class="tabla">

                    <div class="fila">
                        <div class="col" style="width:260px">@Html.LabelFor(model => model.Rut)</div>
                        <div class="col" style="height:23px">@Html.TextBox("Rut",null,new { @class= "textboxRut"})</div>

                    </div>

                    <div class="fila">
                        <div class="col" style="width:260px">@Html.LabelFor(model => model.Nombre)</div>
                        <div class="col" style="height:23px">@Html.TextBox("Nombre",null,new { @class= "textboxRut"})</div>

                    </div>

                    <div class="fila">
                        <div class="col" style="width:260px">@Html.LabelFor(model => model.ApellidoPaterno)</div>
                        <div class="col" style="height:23px">@Html.TextBox("ApellidoPaterno",null,new { @class= "textboxRut"})</div>

                    </div>

                    <div class="fila">
                        <div class="col" style="width:260px">@Html.LabelFor(model => model.ApellidoMaterno)</div>
                        <div class="col" style="height:23px">@Html.TextBox("ApellidoMaterno",null,new { @class= "textboxRut"})</div>

                    </div>

                    <div class="fila">
                        <div class="col" style="width:260px">@Html.LabelFor(model => model.NombreFantasia)</div>
                        <div class="col" style="height:23px">@Html.TextBox("NombreFantasia",null,new { @class= "textboxRut"})</div>

                    </div>

                    <div class="fila" style="padding-top:10px">
                        <div class="col" style="width:260px">@Html.LabelFor(model => model.Estados)</div>
                        <div class="col">@Html.DropDownList("Estados", null, new { @class= "ComboboxClass",  onchange=""})</div>
                
                    </div>
                        
                    <div class="col" style="float:right"><input type="button" value="Buscar" onclick="fnBuscarProveedorCliente();" /></div>
                </div>
            </fieldset>
        }

<br />

@(Html.jqGrid("BuscarProveedorCliente")
    .addColumn(new Column("Id").setLabel("ID")
        .setHidden(true)
        .setWidth(50))
    .addColumn(new Column("Rut").setLabel("Rut")
        .setAlign(Align.center)
        .setWidth(15))
    .addColumn(new Column("TipoCliente").setLabel("Tipo de Cliente")
        .setAlign(Align.center)
        .setWidth(25))
    .addColumn(new Column("Nombre").setLabel("Nombre")
        .setWidth(50))
    .addColumn(new Column("NombreFantasia").setLabel("Nombre de Fantasia")
        .setWidth(50))
    .addColumn(new Column("ApellidoPaterno").setLabel("Apellido Paterno")
        .setWidth(50))
    
    // settings
    .setCaption("ProveedorCliente")
    .setRequestType(RequestType.get)
    .setUrl("~/Cartera/GetDummy")
    .setAltRows(true)
    .setAltClass("altGridRows")
    .setAutoWidth(true)
    .setRowNum(10)
    .setRowList(new int[] { 10, 30, 50 })
    .setViewRecords(true)
    .setSortName("Nombre")
    .setSortOrder(SortOrder.asc)
    .setPager("pagerDeudor")
    .setPagerPos(PagerPos.center)
    .setPgButtons(true)
    .onSelectRow("DeudorSeleccionado(rowid)")
    .Render()
)

<br />

<script>
    function fnBuscarProveedorCliente() {
        var newUrl = "/ProvCli/GetProveedorCliente/?"
        newUrl += "&rut=" + $("#Rut").val()
        newUrl += "&nombre=" + $("#Nombre").val()
        newUrl += "&apellidoPaterno=" + $("#ApellidoPaterno").val()
        newUrl += "&apellidoMaterno=" + $("#ApellidoMaterno").val()
        newUrl += "&nombreFantasia=" + $("#NombreFantasia").val()
        newUrl += "&estados=" + $("#Estados").val()
        
        jQuery("#BuscarProveedorCliente").jqGrid().setGridParam({ url: newUrl }).trigger('reloadGrid', [{ page: 1 }])
    }
</script>